@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

*, ::after, ::before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
  }

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    line-height: inherit;
    color: inherit;
}

button {
    cursor: pointer;
}


.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    letter-spacing: 0.025em;
}

.logo--img {
    width: 2.5rem;
    margin-right: 0.75rem;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-left: 40px;
    font-weight: 500;
}
a {
    color: inherit;
    text-decoration: inherit;
    font-size: 00.95rem;
}

.logo {
    align-items: center;
    font-weight: 900;
    border-bottom-width: 0px;
    font-size: 1.5rem !important;
    margin-left: 0px !important;
    display: flex;
}

.blue {
    color: blue;
}

header {
    min-height: calc(100vh - 100px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*

BUTTON

*/

.button__signup {
    background-color: #0751da;
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    color: white;
    border-bottom-width: 0px;
    transition: all 300ms ease;
}

/*

HOME

*/

.home__description {
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: none;
    text-align: left;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
}

.subheader {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fd {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input {
    text-align: center;
    max-width: 28rem;
    position: relative;
    text-align: center;
}

input::placeholder, textarea::placeholder {
    opacity: 1;
    color: #9ca3af;
}

.input input {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 9999px;
    border-width: 2px;
    width: 100%;
    font-weight: 500;
    transition-duration: 300ms;
    padding-left: 2rem;
}

.input button {
    margin-bottom: 0.5rem;
    width: 10rem;
    line-height: 1;
    position: absolute;
    margin-top: 0.5rem;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(100,21,255);
    color: rgba(247,250,252);
    font-weight: 700;
    margin-right: 0.5rem;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 300ms;
}

.customer {
    margin-top: 5rem;
    text-align: left;
}

.customer p {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    font-weight: 700;
    color: rgba(160,174,192);
}

.customer img {
    margin-top: 1rem;
    width: 100%;
    opacity: 0.5;
}

.big__img {
    margin-top: 3rem;
    width: 60%;
    flex: 1 1 0%;
}

.main__img {
    width: 100%;

}

/*

FEATURES

*/

.container {
    padding: 80px 0 ;
}

.features--small-heading {
    margin-bottom: 1rem;
    font-weight: 700;
    color: rgba(100,21,255);
    letter-spacing: 0.1em;
    text-align: center;
}

.features--heading {
    width: 100%;
    font-weight: 900;
    font-size: 3rem;
    letter-spacing: 0.025em;
    text-align: center;
    color: rgba(36,62,99);
}

.features--para {
    width: 100%;
    text-align: center;
    font-size: 1.125rem;
    margin-top: 1rem;
    font-weight: 500;
    line-height: 1.625;
    color: rgba(124,139,161);
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
}

.service {
    display: flex;
    width: calc(100% / 3);
    
}

.service__description {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    text-align: left;
    color: rgba(36,62,99);
}

.service__img {
    padding: 1.25rem;
    border-width: 1px;
    border-radius: 9999px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    margin-left: 8px;
}

.service__img--img {
    
}

.service__subtitle {
    margin-top: 1rem;
    letter-spacing: 0.025em;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
}

.service__para {
    margin-top: 1rem;
    font-weight: 500;
    line-height: 2;
    color: rgba(124,139,161);
    max-width: 220px
}

/*

LEARN

*/

.learn__description {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.learn__subheading {
    text-align: left;
    font-weight: 700;
    color: rgba(100,21,255);
    letter-spacing: 0.1em;
}

.learn__heading {
    font-size: 3rem;
    text-align: left;
    margin-top: 1rem;
    line-height: 1.25;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: rgba(36,62,99);
}

.learn__para {
    font-size: 1.125rem;
    text-align: left;
    margin-top: 1rem;
    font-weight: 500;
    line-height: 1.625;
    color: rgba(124,139,161);
}

.learn__button {
    margin-top: 2rem;
    font-size: 0.875rem;
    display: inline-block;
    border-radius: 9999px;
    padding: 0.75rem 2rem;
    font-weight: 700;
    background-color: rgba(100,21,255);
    color: rgba(247,250,252);
    transition-duration: 300ms;
    text-decoration: inherit;
    text-align: left;
}

.learn__images {
    width: 50%;
}

.learn__main--img {
    width: 100%;
}

.flex {
    display: flex;
    margin-right: 3rem;
}

.learn__image--dots {
    --tw-translate-x: 50%;
    --tw-translate-y: 50%;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    width: 5rem;
    height: 5rem;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: currentcolor;
    --tw-text-opacity: 1;
    color: rgba(100,21,255,var(--tw-text-opacity));
    z-index: -10;
}